{% extends 'base.html.twig' %}
 
{% block body %}
    <body class="dark bg-dark">
            <div id="cabeceraPerfil">
                <img id="avatar" src="{{ asset('/imagenes/') }}/{{ usuario.imagen }}" >
                <h1 id="nombreU">{{usuario.nombre  }} {{ usuario.apellidos}}  </h1>
            </div>
            <div id="datos">
                <h3>Datos Personales:</h3>
                <p class="card-text"><b>sexo: </b> {{usuario.sexo}}</p>
                <p class="card-text"><b>Email: </b> {{usuario.email}}</p>
                <p class="card-text"> <b>Telefono: </b>{{usuario.telefono}}</p>
                <p class="card-text"> <b>Pais: </b>{{usuario.pais}}</p>

            </div>
                 <button class="button" >   <a style="text-decoration: none; color: white" href="{{ path('editar_usuario',{id:usuario.id}) }}">editar </a> </button>
            
    
        
        
        
    

    </body>
    
        
 
{% endblock %}