{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    {% block stylesheets %}
        {{parent()}}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('/css/estilos.css') }}" type="text/css">
    {% endblock %}
    {% block javascripts %}
        {{parent()}}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    {% endblock %}
{% endblock %}
{% block body %}
    <body style="background-color:#1A1A1A">
       <div class="container">
    <div  class="row">
        <div  class="col-md-5 mx-auto">
            <div  id="first">
                <div style="margin: 30px;"  class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form method="POST">
                        {% if error %}
                            <div class="alert alert-danger">Error en la contraseña o en el correo</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" name="email" value="{{ last_username }}" class="form-control" id="email" placeholder="Introduzca Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Introduzca Contraseña">
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me"> Recordar usuario
                            </label>
                        </div>
                        <div class="form-group">
                            <p class="text-center">By signing up you accept our <a  style="color: #dc493a" href="#">Terms Of Use</a></p>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" value="Login" class=" btn btn-block mybtn btn-danger tx-tfm">Login</button>
                        </div>
                        
                        <div class="form-group">
                            <p class="text-center">¿No tienes cuenta? <a href="/registrar" style="color: #dc493a" >Regístrate aquí</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
    </body>
    
{% endblock %}