{% extends 'base.html.twig' %}

{% block body %}
    <header id="destacadosE">
       <h1 style="font-size: 50px;">Mis Favoritos</h1>
   </header>

   <body class="dark bg-dark" > 
       {% if app.user %}
       {% for favorito in favoritos %}           
                {% if favorito.usuario.nombre == app.user.nombre %}
                      <div id="ContenedorDestacadoE">
                        <h1> <a style="text-decoration: none;color: sandybrown; " href="{{  path('ver_destacadoE',{id:favorito.festDestacado.id}) }}">  {{ favorito.festDestacado.nombre}}</h1>
                        <p style="color:sandybrown;">{{ favorito.festDestacado.frase}}</p>
                        <img  src="{{ asset('/imagenes/') }}/{{ favorito.festDestacado.foto }}" height="400px" width="600px" alt="alt"/>
                        <a  style="text-decoration: none; color: black;" href="{{ path('borrar_favorito',{id:favorito.id}) }}">X</a>

                    </div>
                {% else %}
                    <h1>Todavia no has añadido ningun festival</h1>
                {% endif %}
           
          

        {% endfor %}
        {% endif %}
   
   
       
   </body>
  
   
   
   
   
{% endblock %}